<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About US</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
</head>
<body id="about-us-body">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./">Funding Status Dashboard</a>
            <a class="navbar-brand" href="/about_us">About US</a>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="{{url_for('static', filename='images/Vote.jpg')}}" />
            </div>
            <p id="about-us-text" class="text-center lead">let's move Nebraska forward</p>
            <p id="about-us-text" class="text-center"> - Together - </p>
        </div>
    </div>
</body>
</html>